
/* Your CSS Code here. */
table,tr,td,th{
	border:1px solid black
}
 #x1{
	 background:#c0504d;
	 color:white
 }
#x2{
	background:#da9694;
	color:white
}
#x3{
	background:#f2dcdb;
	
}
#x4{
	background:#d9d9d9;

}